@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* div-footer {
  width: 100%;
} */
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Trebuchet MS-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5b22cd1c1dac2a0009ae9a88/Trebuchet MS Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Trebuchet MS-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/636d4bfa1b49d7fec9779258/fonts/trebuc.ttf")
    format("truetype");
}
