/* Submenu and Grandmenu Styles */
.nav .item-link .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add box shadow for a card-like effect */
}

.nav .item-link:hover .submenu {
    display: block;
    cursor: pointer;
    opacity: 1;
    /* Change opacity to 1 on hover */
}

.nav .subitem-link .grandmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add box shadow for a card-like effect */
}

.nav .subitem-link:hover .grandmenu {
    display: block;
    opacity: 1;
    /* Change opacity to 1 on hover */
}

/* Greatgrandmenu Styles */
.greatgrandmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add box shadow for a card-like effect */
}

/* Show greatgrandmenu when hovering over granditem-link */
.granditem-link:hover .greatgrandmenu {
    display: block;
    opacity: 1;
    /* Change opacity to 1 on hover */
}

/* Add some padding and hover effect for links */
.nav .item-link,
.nav .subitem-link,
.nav .granditem-link,
.nav .greatgranditem-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s;
}

.nav .item-link:hover,
.nav .subitem-link:hover,
.nav .granditem-link:hover,
.nav .greatgranditem-link:hover {
    background-color: #f0f0f0;
    /* Change the background color on hover */
    color: #555;
    /* Change text color on hover */
}