/* fixes */
#fom1 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 34.92px 10px 30px;
  top: 344px;
  left: 1226px;
  background-color: #0091dc;
  border-radius: 4px;
  overflow: hidden;
}

#fom3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 34.92px 10px 30px;
  top: 344px;
  left: 1226px;
  background-color: #0091dc;
  border-radius: 4px;
  overflow: hidden;
}

#papso_btn,
#products_btn {
  /* Add initial border style (optional) */
  border: 2px solid transparent;
  transition: border 0.3s ease;
  /* Add transition for the border property */
}

#papso_btn:hover,
#products_btn:hover {
  border: 2px solid blue;
  /* Add a blue border when hovering */
}


.main-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-page .div {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 1920px;
  height: 3227px;
  position: relative;
}

.main-page .overlap {
  position: absolute;
  width: 1920px;
  height: 624px;
  top: 142px;
  left: 0;
}

.main-page .section {
  display: inline-flex;

  flex-direction: column;
  height: 624px;
  align-items: center;
  padding: 0px 240px 184px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f3f5;
}

.main-page .div-header-slider {
  display: inline-flex;
  flex-direction: column;
  max-width: 1440px;
  align-items: flex-start;
  padding: 0px 60px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .div-header-slider-2 {
  position: relative;
  width: 1320px;
  height: 440px;
  background-image: url(./img/picture-electric-automation-seamless-connectivity-screen-fix18.png);
  background-size: 100% 100%;
}

.main-page .div-card-container {
  display: flex;
  flex-direction: column;
  width: 976px;
  height: 222px;
  align-items: flex-start;
  padding: 24px 96px 44px;
  position: absolute;
  top: 378px;
  left: 232px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 8px #b6bec6;
}

.main-page .list {
  display: flex;
  width: 88px;
  align-items: flex-start;
  position: absolute;
  top: 190px;
  left: 444px;
}

.main-page .item-margin {
  display: flex;
  flex-direction: column;
  width: 16px;
  height: 8px;
  align-items: flex-start;
  padding: 0px 8px 0px 0px;
  position: relative;
}

.main-page .item {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #0091dc;
  border-radius: 8px;
}

.main-page .item-2 {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #b6bec6;
  border-radius: 8px;
}

.main-page .item-2.active {
  background-color: blue;
  /* Change to your desired color */
}

.item-2 .item-text {
  display: none;
  /* Hide the text content */
}

.main-page .SVG {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 95px;
  left: 28px;
}

.main-page .img {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 95px;
  left: 916px;
}

.main-page .div-header-slider-3 {
  position: relative;
  width: 784px;
  height: 154px;
}

.main-page .heading {
  padding: 0px 665px 0px 0px;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 784px;
  align-items: flex-start;
  position: absolute;
  left: 0;
}

.main-page .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.main-page .div-wrapper {
  padding: 0px 354px 0px 0px;
  top: 24px;
  display: flex;
  flex-direction: column;
  width: 784px;
  align-items: flex-start;
  position: absolute;
  left: 0;
}

.main-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 29px;
  letter-spacing: 0;
  line-height: 42px;
  white-space: nowrap;
}

.main-page .div-divider-xsvco {
  display: flex;
  width: 784px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 82px;
  left: 0;
}

.main-page .p-copy-text {
  display: inline-flex;
  flex-direction: column;
  height: 72px;
  align-items: flex-start;
  padding: 0px 32px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .would-you-like-easy {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main-page .button {
  display: flex;
  max-width: 216px;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 12px 63.41px 12px 63.59px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #0091dc;
  border-radius: 4px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.main-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .div-fab-bar {
  display: flex;
  flex-direction: column;
  width: 48px;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 16px;
  position: absolute;
  top: 25px;
  left: 1856px;
}

.main-page .button-2 {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 13px;
  position: relative;
  background-color: #0091dc;
  border-radius: 48px;
  box-shadow: -1px 1px 7px #33333333;
}

.main-page .SVG-2 {
  position: relative;
  align-self: stretch;
  width: 22px;
}

.main-page .div-has-update {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 2px;
  left: 38px;
  background-color: #0091dc;
  border-radius: 8px;
}

.main-page .button-3 {
  position: relative;
  width: 62px;
  height: 62px;
  margin-bottom: -8px;
  margin-left: -8px;
  margin-right: -6px;
}

.main-page .section-2 {
  width: 1920px;
  height: 1464px;
  top: 1153px;
  position: absolute;
  left: 0;
}

.main-page .div-application {
  display: inline-flex;
  flex-direction: column;
  max-width: 1440px;
  align-items: flex-start;
  padding: 0px 60px;
  position: absolute;
  top: 0;
  left: 240px;
}

.main-page .div-row {
  position: relative;
  width: 1344px;
  height: 476.03px;
  margin-right: -24px;
}

.main-page .div-col-xs {
  display: inline-flex;
  flex-direction: column;
  min-height: 1px;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  padding: 0px 12px 30px;
  position: absolute;
  top: 141px;
  left: 672px;
}

.main-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.main-page .p-copytext {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 65px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .docker-is-a-tool-for {
  position: relative;
  width: 583px;
  height: 48px;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}

.main-page .overlap-group {
  position: absolute;
  width: 648px;
  height: 364px;
  top: 22px;
  left: 12px;
  background-image: url(./img/picture-key-automation-products-highres-en-1-fix696x391-webp-1.png);
  background-size: 100% 100%;
}

.main-page .picture-key {
  position: absolute;
  width: 648px;
  height: 364px;
  top: 0;
  left: 0;
}

.main-page .link {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 34.92px 10px 30px;
  position: absolute;
  top: 344px;
  left: 1226px;
  background-color: #0091dc;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .text-wrapper-5 {
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .div-row-2 {
  /* top: 476px;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  left: 288px; */
  gap: 24px;
  padding: 0px 12px 60px;
  top: 476px;
  text-align: center;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  left: 288px;

}

.main-page .link-2 {
  display: inline-flex;
  min-height: 1px;
  max-height: 700px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  background-color: #f5f7fa;
}

.main-page .div-accordion {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  z-index: 1;
  background-color: #ffffff;
}

.main-page .picture-energy {
  position: relative;
  max-width: 336px;
  width: 336px;
  max-height: 448px;
  height: 447.77px;
}

.main-page .div-col-md {
  position: relative;
  width: 336px;
  height: 447.77px;
  z-index: 0;
  background-color: #f5f7fa;
}

.main-page .text-wrapper-6 {
  position: absolute;
  height: 32px;
  top: 63px;
  left: 30px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.main-page .p-copytext-2 {
  display: inline-flex;
  padding: 0px 9px 0px 0px;
  position: absolute;
  top: 115px;
  left: 30px;
  flex-direction: column;
  align-items: flex-start;
}

.main-page .text-wrapper-7 {
  position: relative;
  width: 277px;
  height: 72px;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}

.main-page .button-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32.36px 10px 32.56px;
  position: absolute;
  top: 376px;
  left: 30px;
  background-color: #0091dc;
  border-radius: 4px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.main-page .text-wrapper-8 {
  position: absolute;
  height: 24px;
  top: 30px;
  left: 30px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #5e5e5e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .link-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.main-page .picture-energy-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.main-page .text-wrapper-9 {
  position: absolute;
  width: 96px;
  height: 24px;
  top: 29px;
  left: 30px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #5e5e5e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .link-4 {
  display: inline-flex;
  flex-direction: column;
  min-height: 1px;
  max-height: 447.77px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.main-page .text-wrapper-10 {
  position: absolute;
  width: 93px;
  height: 24px;
  top: 29px;
  left: 30px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #5e5e5e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .div-row-3 {
  gap: 24px;
  padding: 0px 12px 60px;
  top: 1010px;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  left: 288px;
}

.main-page .div-half-width {
  position: relative;
  width: 648px;
  height: 393.84px;
}

.main-page .text-wrapper-11 {
  position: absolute;
  height: 24px;
  top: -1px;
  left: 0;
  color: #ffffff;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .div-image-text-wrapper {
  position: absolute;
  width: 648px;
  height: 160px;
  top: 50px;
  left: 0;
  background-color: #f5f7fa;
}

.main-page .div-image-text {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.main-page .div-image-text-2 {
  position: relative;
  align-self: stretch;
  width: 312px;
  background-image: url(./img/brochure-2022-papso-en-high-1-fix444x250-webp.png);
  background-size: 100% 100%;
}

.main-page .div-image-text-3 {
  display: flex;
  flex-direction: column;
  width: 336px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 24px;
  position: relative;
}

.main-page .p-image-text-teaser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 61px 5px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-page .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.main-page .p-copytext-margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-page .p-copytext-3 {
  display: flex;
  width: 288px;
  padding: 0px 13px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.main-page .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .span-text-link {
  display: flex;
  flex-direction: column;
  min-height: 53.92px;
  align-items: flex-start;
  padding: 29.92px 199px 1.91e-6px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.main-page .text-wrapper-14 {
  color: #0091dc;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .link-5 {
  position: absolute;
  width: 648px;
  height: 160px;
  top: 234px;
  left: 0;
  background-color: #f5f7fa;
}

.main-page .div-image-text-4 {
  position: relative;
  align-self: stretch;
  width: 312px;
  background-image: url(./img/bannerslider-sp2020-1800x600-fix444x250-webp.png);
  background-size: 100% 100%;
}

.main-page .p-image-text-teaser-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 177px 5px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-page .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.main-page .p-copytext-4 {
  display: flex;
  width: 288px;
  padding: 0px 16px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.main-page .div-half-width-2 {
  margin-top: 3.1em;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .festo-official {
  position: relative;
  flex: 1;
  max-width: 648px;
  width: 648px;
  flex-grow: 1;
  background-image: url(./img/festo-official-partner-16917c-1-fix952x235-webp.png);
  background-size: cover;
  background-position: 50% 50%;
}

.main-page .div-half-width-image {
  position: relative;
  width: 648px;
  height: 183.92px;
  background-color: #f5f7fa;
}

.main-page .p-image-teaser-main {
  display: inline-flex;
  flex-direction: column;
  max-width: 474.24px;
  align-items: flex-start;
  padding: 0px 276.23px 0px 0px;
  position: absolute;
  top: 40px;
  left: 30px;
}

.main-page .p-copytext-5 {
  display: inline-flex;
  padding: 0px 402px 0.92px 0px;
  position: absolute;
  top: 77px;
  left: 30px;
  flex-direction: column;
  align-items: flex-start;
}

.main-page .button-5 {
  display: inline-flex;
  flex-direction: column;
  min-width: 145px;
  align-items: center;
  padding: 11px 23.62px 11px 23.82px;
  position: absolute;
  top: 117px;
  left: 30px;
  background-color: #0091dc;
  border-radius: 4px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.main-page .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .text-wrapper-18 {
  position: absolute;
  height: 32px;
  top: 973px;
  left: 878px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.main-page .text-wrapper-18-comp {
  position: absolute;
  height: 32px;
  top: 14.6em;
  left: 878px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.main-page .text-wrapper-18-comp-p {
  position: absolute;
  height: 32px;
  margin-top: 10em;
  top: 14.6em;
  left: 878px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.main-page .header {
  display: inline-flex;
  flex-direction: column;
  height: 94px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.main-page .nav {
  display: inline-flex;
  max-width: 1920px;
  height: 94px;
  align-items: flex-start;
  padding: 24px 60px 0px;
  position: relative;
  z-index: 1;
}

.main-page .div-navigation-aside {
  position: relative;
  align-self: stretch;
  width: 236px;
}

.main-page .link-logo-blue-svg {
  position: absolute;
  width: 127px;
  height: 20px;
  top: 15px;
  left: -7px;
}

.main-page .div-jsx-main {
  display: flex;
  width: 400px;
  align-items: center;
  padding: 0px 663.61px 0px 0px;
  position: relative;
  align-self: stretch;
}

.main-page .item-margin-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  margin-right: -616.03px;
  background-color: #ffffff;
}

.main-page .item-wrapper {
  align-items: flex-start;
  justify-content: center;
  padding: 0px 32px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.main-page .list-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .list-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .item-link {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 1.02px 14px 1.23px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .item-link-2 {
  padding: 0px 0px 14px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.main-page .item-link-3 {
  padding: 0px 0.49px 14px 0.68px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.main-page .div-search-field {
  display: inline-flex;
  align-items: flex-start;
  padding: 1px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -49px;
  z-index: 0;
  background-color: #0091dc;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #d8dce1;
}

.main-page .text-wrapper-20 {
  position: absolute;
  height: 32px;
  top: 1088px;
  left: 921px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.main-page .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .link-6 {
  display: inline-flex;
  align-items: center;
  padding: 0px 244px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .link-7 {
  display: inline-flex;
  align-items: center;
  padding: 0px 294px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .link-8 {
  display: inline-flex;
  align-items: center;
  padding: 0px 225px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .link-9 {
  display: inline-flex;
  align-items: center;
  padding: 0px 152px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .link-10 {
  display: inline-flex;
  align-items: center;
  padding: 0px 295px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .link-11 {
  display: inline-flex;
  align-items: center;
  padding: 0px 257px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .div-footer-links-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 16px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .link-12 {
  display: inline-flex;
  align-items: center;
  padding: 0px 109px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .link-13 {
  display: inline-flex;
  align-items: center;
  padding: 0px 241px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .link-14 {
  display: inline-flex;
  align-items: center;
  padding: 0px 166px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .link-15 {
  display: inline-flex;
  align-items: center;
  padding: 0px 39px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .link-16 {
  display: inline-flex;
  align-items: center;
  padding: 0px 253px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .link-17 {
  display: inline-flex;
  align-items: center;
  padding: 0px 256px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.main-page .div-footer-legal-DP {
  display: inline-flex;
  max-width: 1544px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 513px;
  left: 188px;
}

.main-page .div-left-column {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 11.81px 24px 24px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #00000049;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .overlap-group-wrapper {
  position: relative;
  width: 299.44px;
  height: 48px;
}

.main-page .overlap-group-2 {
  position: relative;
  width: 483px;
  height: 24px;
}

.main-page .link-imprint-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 73.8px 0px 1.03px;
  position: absolute;
  top: 0;
  left: 0;
}

.main-page .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #00000049;
  font-size: 11px;
  text-align: right;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .link-data-protection-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 155.8px 0px 1.54px;
  position: absolute;
  top: 0;
  left: 62px;
}

.main-page .link-terms-and-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 207.8px 0px 6.47px;
  position: absolute;
  top: 0;
  left: 165px;
}

.main-page .div-footer-social {
  position: absolute;
  width: 1544px;
  height: 96px;
  top: 0;
  left: 188px;
}

.main-page .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 225px;
  top: 815px;
  left: 0;
}

.main-page .section-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  top: 15px;
  position: absolute;
  left: 0;
}

.main-page .list-3 {
  display: flex;
  width: 1920px;
  height: 56px;
  align-items: flex-end;
  justify-content: center;
  padding: 20px 663.47px 72px 663.47px;
  position: relative;
  background-color: #ffffff;
}

.main-page .item-margin-2 {
  align-items: center;
  justify-content: flex-end;
  padding: 0px 28px;
  margin-top: -72px;
  margin-left: -0.01px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.main-page .item-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 3.97px 12px 0px;
  position: relative;
  flex: 0 0 auto;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: #0091dc;
}

.main-page .text-wrapper-25 {
  position: relative;
  width: fit-content;
  margin-top: -4px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #0091dc;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .item-process-wrapper {
  align-items: flex-start;
  padding: 0px 32.52px 12px 28px;
  margin-top: -72px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.main-page .item-lifetech-wrapper {
  align-items: flex-start;
  padding: 0px 30.58px 12px 28px;
  margin-top: -72px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.main-page .div-slider-cupfd {
  display: flex;
  flex-direction: column;
  width: 1840px;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 12px;
  position: relative;
  flex: 0 0 auto;
}

.main-page .div-slick-slider {
  flex-direction: column;
  width: 1840px;
  align-items: flex-start;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.main-page .div-slick-list {
  flex-direction: column;
  width: 1840px;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 2055px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.main-page .div-slick-track {
  width: 7585px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0px 3903px 0px 1853px;
  margin-left: -3900px;
  margin-right: -3900px;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.main-page .link-18 {
  display: flex;
  flex-direction: column;
  width: 189px;
  height: 126px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 23.5px;
  position: relative;
}

.main-page .div-card-image {
  display: flex;
  width: 142px;
  max-height: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  padding: 0px 23px;
  position: relative;
}

.main-page .d {
  position: relative;
  max-width: 96px;
  width: 96px;
  max-height: 64px;
  height: 64px;
}

.main-page .p-card-name-azoxw {
  display: flex;
  flex-direction: column;
  max-width: 142px;
  min-height: 48px;
  max-height: 48px;
  align-items: center;
  padding: 0px 38.4px 0px 38.6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-page .text-wrapper-26 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .motors-and-servo-wrapper {
  padding: 0px 13.91px 0px 14.09px;
  display: flex;
  flex-direction: column;
  max-width: 142px;
  min-height: 48px;
  max-height: 48px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-page .motors-and-servo {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.main-page .p-card-name-azoxw-2 {
  padding: 0px 15.4px 0px 15.6px;
  display: flex;
  flex-direction: column;
  max-width: 142px;
  min-height: 48px;
  max-height: 48px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-page .p-card-name-azoxw-3 {
  padding: 0px 44.41px 0px 44.59px;
  display: flex;
  flex-direction: column;
  max-width: 142px;
  min-height: 48px;
  max-height: 48px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-page .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-page .button-SVG {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 18px;
  left: 2334px;
}

.main-page .button-SVG-2 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 18px;
  left: 3170px;
}

.main-page .text-wrapper-28 {
  position: absolute;
  height: 32px;
  top: 0;
  left: 887px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}