.div-footer {
  position: relative;
  width: 1920px;
  height: 561px;
  background-color: #f2f3f5;
}

.div-footer .div-footer-links {
  display: inline-flex;
  flex-direction: column;
  max-width: 1544px;
  align-items: flex-start;
  padding: 57px 24px 0px;
  position: absolute;
  top: 128px;
  left: 188px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #b6bec6;
}

.div-footer .div {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 310px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.div-footer .div-footer-links-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 96px;
  position: relative;
  flex: 0 0 auto;
}

.div-footer .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-footer .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.div-footer .link {
  display: inline-flex;
  align-items: center;
  padding: 0px 244px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.div-footer .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-footer .div-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0px 294px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .link-2 {
  display: inline-flex;
  align-items: center;
  padding: 0px 225px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .link-3 {
  display: inline-flex;
  align-items: center;
  padding: 0px 152px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-footer .link-4 {
  display: inline-flex;
  align-items: center;
  padding: 0px 295px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-footer .link-5 {
  display: inline-flex;
  align-items: center;
  padding: 0px 257px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .div-footer-links-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 16px;
  position: relative;
  flex: 0 0 auto;
}

.div-footer .link-6 {
  display: inline-flex;
  align-items: center;
  padding: 0px 109px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .link-7 {
  display: inline-flex;
  align-items: center;
  padding: 0px 241px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .link-8 {
  display: inline-flex;
  align-items: center;
  padding: 0px 166px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .link-9 {
  display: inline-flex;
  align-items: center;
  padding: 0px 39px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .link-10 {
  display: inline-flex;
  align-items: center;
  padding: 0px 253px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .link-11 {
  display: inline-flex;
  align-items: center;
  padding: 0px 256px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.div-footer .div-footer-legal-DP {
  display: inline-flex;
  max-width: 1544px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 513px;
  left: 188px;
}

.div-footer .div-left-column {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 11.81px 24px 24px;
  position: relative;
  flex: 0 0 auto;
}

.div-footer .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #00000049;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-footer .list {
  position: relative;
  width: 299.44px;
  height: 48px;
}

.div-footer .overlap-group {
  position: relative;
  width: 483px;
  height: 24px;
}

.div-footer .item {
  padding: 0px 73.8px 0px 1.03px;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
}

.div-footer .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #00000049;
  font-size: 11px;
  text-align: right;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-footer .link-data-protection-wrapper {
  padding: 0px 155.8px 0px 1.54px;
  left: 62px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
}

.div-footer .link-terms-and-wrapper {
  padding: 0px 207.8px 0px 6.47px;
  left: 165px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
}

.div-footer .div-footer-social {
  position: absolute;
  width: 1544px;
  height: 96px;
  top: 0;
  left: 188px;
}

.div-footer .link a:hover {
  color: blue;
}
