.education {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.education .div {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 1920px;
  height: 1918px;
  position: relative;
}

.education .overlap {
  position: absolute;
  width: 1920px;
  height: 502px;
  top: 143px;
  left: 0;
}

.education .section {
  position: absolute;
  width: 1920px;
  height: 502px;
  top: 0;
  left: 0;
}

.education .div-application {
  display: inline-flex;
  flex-direction: column;
  max-width: 1440px;
  align-items: flex-start;
  padding: 0px 60px;
  position: absolute;
  top: 116px;
  left: 208px;
}

.education .div-row {
  position: relative;
  width: 1344px;
  height: 476.03px;
  margin-right: -24px;
}

.education .div-col-xs {
  display: inline-flex;
  flex-direction: column;
  min-height: 1px;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  padding: 0px 12px 30px;
  position: absolute;
  top: 141px;
  left: 672px;
}

.education .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.education .p-copytext {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 65px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.education .docker-is-a-tool-for {
  position: relative;
  width: 583px;
  height: 48px;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}

.education .overlap-group {
  position: absolute;
  width: 648px;
  height: 364px;
  top: 22px;
  left: 12px;
  background-image: url(./img/picture-key-automation-products-highres-en-1-fix696x391-webp.png);
  background-size: 100% 100%;
}

.education .picture-key {
  position: absolute;
  width: 648px;
  height: 364px;
  top: 0;
  left: 0;
}

.education .link {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 34.92px 10px 30px;
  position: absolute;
  top: 344px;
  left: 1226px;
  background-color: #0091dc;
  border-radius: 4px;
  overflow: hidden;
}

.education .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .text-wrapper-3 {
  position: absolute;
  height: 32px;
  top: 66px;
  left: 823px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.education .footer {
  display: flex;
  flex-direction: column;
  width: 1921px;
  align-items: flex-start;
  position: absolute;
  top: 1214px;
  left: 0;
  background-color: #f2f3f5;
}

.education .div-footer {
  position: relative;
  width: 1920px;
  height: 561px;
  background-color: #f2f3f5;
}

.education .div-footer-social {
  position: absolute;
  width: 1544px;
  height: 96px;
  top: 0;
  left: 188px;
}

.education .div-footer-links {
  display: inline-flex;
  flex-direction: column;
  max-width: 1544px;
  align-items: flex-start;
  padding: 57px 24px 0px;
  position: absolute;
  top: 128px;
  left: 188px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #b6bec6;
}

.education .div-footer-links-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 310px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.education .div-footer-links-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 96px;
  position: relative;
  flex: 0 0 auto;
}

.education .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.education .div-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0px 244px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .link-2 {
  display: inline-flex;
  align-items: center;
  padding: 0px 294px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .link-3 {
  display: inline-flex;
  align-items: center;
  padding: 0px 225px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .link-4 {
  display: inline-flex;
  align-items: center;
  padding: 0px 152px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .text-wrapper-6 {
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .link-5 {
  display: inline-flex;
  align-items: center;
  padding: 0px 295px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .link-6 {
  display: inline-flex;
  align-items: center;
  padding: 0px 257px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .div-footer-links-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 16px;
  position: relative;
  flex: 0 0 auto;
}

.education .link-7 {
  display: inline-flex;
  align-items: center;
  padding: 0px 109px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .link-8 {
  display: inline-flex;
  align-items: center;
  padding: 0px 241px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .link-9 {
  display: inline-flex;
  align-items: center;
  padding: 0px 166px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .link-10 {
  display: inline-flex;
  align-items: center;
  padding: 0px 39px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .link-11 {
  display: inline-flex;
  align-items: center;
  padding: 0px 253px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .link-12 {
  display: inline-flex;
  align-items: center;
  padding: 0px 256px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.education .div-footer-legal-DP {
  display: inline-flex;
  max-width: 1544px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 513px;
  left: 188px;
}

.education .div-left-column {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 11.81px 24px 24px;
  position: relative;
  flex: 0 0 auto;
}

.education .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #00000049;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .list {
  position: relative;
  width: 299.44px;
  height: 48px;
}

.education .overlap-group-2 {
  position: relative;
  width: 483px;
  height: 24px;
}

.education .item {
  align-items: flex-end;
  padding: 0px 73.8px 0px 1.03px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
}

.education .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #00000049;
  font-size: 11px;
  text-align: right;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .link-data-protection-wrapper {
  align-items: flex-end;
  padding: 0px 155.8px 0px 1.54px;
  position: absolute;
  top: 0;
  left: 62px;
  display: inline-flex;
  flex-direction: column;
}

.education .link-terms-and-wrapper {
  align-items: flex-end;
  padding: 0px 207.8px 0px 6.47px;
  position: absolute;
  top: 0;
  left: 165px;
  display: inline-flex;
  flex-direction: column;
}

.education .div-fab-bar {
  display: flex;
  flex-direction: column;
  width: 48px;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 16px;
  position: absolute;
  top: 24px;
  left: 1856px;
}

.education .button {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 13px;
  position: relative;
  background-color: #0091dc;
  border-radius: 48px;
  box-shadow: -1px 1px 7px #33333333;
}

.education .SVG {
  position: relative;
  align-self: stretch;
  width: 22px;
}

.education .div-has-update {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 2px;
  left: 38px;
  background-color: #0091dc;
  border-radius: 8px;
}

.education .img {
  position: relative;
  width: 62px;
  height: 62px;
  margin-bottom: -8px;
  margin-left: -8px;
  margin-right: -6px;
}

.education .header {
  display: inline-flex;
  flex-direction: column;
  height: 94px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.education .nav {
  display: inline-flex;
  max-width: 1920px;
  height: 94px;
  align-items: flex-start;
  padding: 24px 60px 0px;
  position: relative;
  z-index: 1;
}

.education .div-navigation-aside {
  position: relative;
  align-self: stretch;
  width: 236px;
}

.education .link-logo-blue-svg {
  position: absolute;
  width: 127px;
  height: 20px;
  top: 15px;
  left: -7px;
}

.education .div-jsx-main {
  display: flex;
  width: 400px;
  align-items: center;
  padding: 0px 663.61px 0px 0px;
  position: relative;
  align-self: stretch;
}

.education .item-margin-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  margin-right: -529.03px;
  background-color: #ffffff;
}

.education .item-margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 32px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.education .list-wrapper {
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
}

.education .list-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.education .item-link {
  align-items: flex-start;
  justify-content: center;
  padding: 0px 1.02px 14px 1.23px;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
}

.education .text-wrapper-9 {
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .item-link-2 {
  padding: 0px 0px 14px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.education .item-link-3 {
  padding: 0px 0.49px 14px 0.68px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.education .div-search-field {
  display: inline-flex;
  align-items: flex-start;
  padding: 1px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -49px;
  z-index: 0;
  background-color: #0091dc;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #d8dce1;
}

.education .div-row-2 {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 742px;
  left: 286px;
}

.education .link-13 {
  display: inline-flex;
  flex-direction: column;
  min-height: 1px;
  max-height: 447.77px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.education .div-accordion {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.education .picture-energy {
  position: relative;
  max-width: 336px;
  width: 336px;
  max-height: 448px;
  height: 447.77px;
}

.education .text-wrapper-10 {
  position: absolute;
  width: 96px;
  height: 24px;
  top: 29px;
  left: 30px;
  font-family: "Trebuchet MS-Bold", Helvetica;
  font-weight: 700;
  color: #5e5e5e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .link-14 {
  display: inline-flex;
  flex-direction: column;
  min-height: 1px;
  max-height: 447.77px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
}

.education .text-wrapper-11 {
  position: relative;
  width: 93.45px;
  height: 24px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #5e5e5e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .link-15 {
  display: inline-flex;
  min-height: 1px;
  max-height: 700px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  background-color: #f5f7fa;
  overflow: hidden;
}

.education .link-16 {
  display: inline-flex;
  flex-direction: column;
  min-height: 1px;
  max-height: 447.77px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  z-index: 1;
}

.education .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.education .text-wrapper-12 {
  position: absolute;
  height: 32px;
  top: 66px;
  left: 121px;
  z-index: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}